* {
	margin: 0;
}

#root {
	height: 100%;
}

.customScrollbar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #2e3338; /* or add it to the track */
}
.customScrollbar::-webkit-scrollbar-thumb {
	background: #202225;
	border-radius: 50px;
}
